<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MyConnectionString"
         connectionString="Data Source=VIEWW7-2013-408\SQLEXPRESS; Initial Catalog=tp_gestionContact; Integrated security=True; Connect Timeout=5"/>
  </connectionStrings>
</configuration>